<?xml version="1.0"?>
<launch>
    <!-- Argumentos de entrada -->
    <arg name="launch_ns" default="true"/>
    <arg name="namespace" default="/rb1/"/>
    <arg name="outputscreen" default="true"/>

    <!-- Ejecutar nodo -->
    <group ns="$(arg namespace)" if="$(arg launch_ns)">
        <!-- Cargar parametros desde fichero yaml -->
        <rosparam file="$(find armcontrolmoveit)/config/door_config.yaml" command="load"/>

        <node if="$(arg outputscreen)" pkg="door_navigation" type="doorNavigation.py" 
        name="door_navigation_SJG" output="screen" args="$(arg namespace)"/>

        <node unless="$(arg outputscreen)" pkg="door_navigation" 
        type="doorNavigation.py" name="door_navigation_SJG" args="$(arg namespace)"/>    
    </group>
    <group unless="$(arg launch_ns)">
        <!-- Cargar parametros desde fichero yaml -->
        <rosparam file="$(find armcontrolmoveit)/config/door_config.yaml" command="load"/>
        <node if="$(arg outputscreen)" pkg="door_navigation" type="doorNavigation.py" name="door_navigation_SJG" output="screen"/>
        <node unless="$(arg outputscreen)" pkg="door_navigation" type="doorNavigation.py" name="door_navigation_SJG"/>
    </group>

</launch>